:root {
  --color-background: #151515;
  --color-primary: #4ee1a0;      
  --color-surface: #242424;
  --color-border: #d9d9d9;
  --color-text: #ffffff;
}


body {
    background-color: var(--color-background);
    font-family: "Space Grotesk", sans-serif;
    color: white;
    padding: 16px;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--color-surface);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

header h2 {
    font-size: 24px;
}


.link {
    margin: 0 auto ;
    width: 70% ;
    display: flex;
    justify-content: space-between;
}


.top-page {
    text-align: center;
    margin: 0 auto ;
    margin-top: 40px;
    margin-bottom: 80px;
}

.presentation {
    margin-bottom: 24px;
}

.dev-skills {
    padding-top: 40px;
    border-top: 3px solid var(--color-surface);

}


.projects {
    border-top: 3px solid var(--color-surface);
    padding-top: 80px;
    padding-bottom: 40px;
}

.presentation span {
    text-decoration: underline var(--color-primary);
}

.presentation p {
    color: var(--color-border);
}

.contact {
    text-transform: uppercase;
    text-decoration: underline var(--color-primary);
    letter-spacing: 2px;
}

.competence {
    text-align: center;
    margin-bottom: 24px;
}

.competence h2 {
    font-size: 32px;
}

.competence p {
    font-size: 16px;
    color: var(--color-border);
}

.contact-project {
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-top: 20px;
}

.language {
    margin-top: 7px;
    display: flex;
    color: var(--color-border);
    width: 30%;
    justify-content: space-between;
}

.view-project {
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.view-project li {
    font-size: 24px  ;
    text-decoration: underline var(--color-primary);
    cursor: pointer;
}

.contact-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #aaa;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input,
textarea {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.send-btn {
  background: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}

.send-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #4be3ac;
  margin-top: 5px;
  transition: transform 0.3s ease;
  transform-origin: left;
  transform: scaleX(1);
}

@media screen and (min-width: 768px) {
    header {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .link {
        width: 30%;
    }
}